@import 'tailwindcss';

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,body{
  height: 100%;
  width: 100%;
} */

*{
  color: white;
}
body{
  background-color: black;
}

#tasklist::-webkit-scrollbar{
  display: none;
}
#taskcard::-webkit-scrollbar{
  display: none;
}
#alltask::-webkit-scrollbar{
  display: none;
}
